.Section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
}

.flex-1 {
    flex: 1 0 100%;
}

.flex-2 {
    flex: 1 1 45%;
}

.flex-3 {
    flex: 1 0 30%;
}

.HeadingHolder {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.MainHeading {
    font-weight: 600;
    line-height: 1px;
}

.ParagraphContainer {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
}