.FormControl {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.FormLabel {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

input, select {
    padding: 0.5rem;
    border: 1px solid rgb(18, 18, 244, 0.7);
    border-radius: 0.5rem;
}
